.block {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: center;

	padding: 2rem;

	background: #fffffa;
	border-radius: 1rem;
	box-shadow: 0 0 1px 1px #f3f3f3;
}

.prod {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.prod_name {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 26px;
	color: var(--red);
}

.hr {
	margin: 0;
	border: none;
	border-top: 1px solid #bbb;
}
